@charset "UTF-8";
/* CSS Document */
img {
	width:100%
}

body {
	margin:0px;}

.logo {
	max-width: 190px;
	display: block;
	margin: 0 auto;
	padding-top: 40px;
	
}

#toggleassist,
ul.nav-links {display:none;}

#toggleassist:checked + ul.nav-links {
    display: block;
}

.toggle-button {
    width: 40px;
	float: right;
    margin: 15px;
	margin-top: -60px;
}
.logo2 {
	display:none;
}

ul.nav-links {
	list-style: none;
	padding-left:0px;
	
}

ul.nav-links li {
	padding:20px;
	border-bottom:2px;
	background-color: aliceblue;
	
}

ul.nav-links a {
	text-decoration: none;
	text-transform: uppercase;
	color:#2D2E2A;
	font-family: 'Maven Pro', sans-serif;
}

header {
	background-position: center;
	background-size: cover;
	height:600px;
}

.page-title {
	font-family: 'Maven Pro', sans-serif;
	color:white;
	display: flex;
	justify-content: center;
	font-size: 100%;
	margin-top:130px;
}

/*homescreen*/
header {
	background-image:url("images/home-image.jpg");
}
.info {padding-top:100px;}

.info h1 {
	font-family: 'Maven Pro', sans-serif;
	color:#0899D4;
	display: flex;
	justify-content: center;
	
	
}

.info h3 {
	font-family: 'Lato', sans-serif;
	padding:0 50px;
}
.facts{
	display: flex;
	align-items: center;
	width: 50px;
	font-family: 'Lato', sans-serif;
	font-size: 80%;
	text-align:center;
	
}

.icon {
	width: 80px;
}
.wave {
	width:100%;
	margin-top:-180px;
}

.donate {
	background-image: url("images/hammerhead.jpg");
	height:500px;
	background-position: center;
	background-size: cover;
	margin-top:60px;
}
.donate h2 {
	font-family: 'Maven Pro', sans-serif;
	color: aliceblue;
	font-size: 300%;
	padding:50px;
}
.donate h3 {
	font-family: 'Lato', sans-serif;
	color: aliceblue;
	padding:50px;
	margin-top:-130px;
}

.fakebtn {
	width:150px;
	height:50px;
	background-color: aliceblue;
	margin-left: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15%;
	font-family: 'Maven Pro', sans-serif;
	margin-top:180px;
}
.documentary {
	background-image: url("images/mantaraysun.jpg");
	height: 200px;
	background-position: center;
	background-size: cover;
}

.visual-designs {
	background-image: url("images/seaturtle.jpg");
	height: 200px;
	background-position: center;
	background-size: cover;
}

.global-issues {
	background-image: url("images/segals.jpg");
	height: 200px;
	background-position: center;
	background-size: cover;
}

.ourwork h2 {
	font-family: 'Maven Pro', sans-serif;
	color:aliceblue;
}
.campaigns h1 {
	font-family: 'Maven Pro', sans-serif;
	color:#0899D4;
	display: flex;
	justify-content: center;
}

/*about*/
.about-header {
	background-image:url("images/about-image.jpg");
}
.title {
	font-family: 'Maven Pro', sans-serif;
	color:#0899D4;
	display: flex;
	justify-content: center;
}
.CEO {
	display: flex;
	align-content: center;
	padding: 30px;
}
.ceo {
	border-radius: 50% 50%;
	width:180px;
	height: 180px;
	margin-right:20px;
}
.ceo-bio {
	font-family: 'Lato', sans-serif;
}

/*blog*/
.blog-header {
	background-image:url("images/blog-image.jpg");
}



/*donations*/
.donations-header {
	background-image:url("images/donations-image.jpg");
}

.donateheader h1 {
	font-family: 'Maven Pro', sans-serif;
	color:#0899D4;
	display: flex;
	justify-content: center;
}

.donateheader h3 {font-family: 'Lato', sans-serif; padding:30px;}
.donate-info h2 {font-family: 'Maven Pro', sans-serif;color:#0899D4; padding:15px;}
.donate-info h3 {
	font-family: 'Lato', sans-serif;
	padding: 30px;
	margin-top:-60px;
	color: #2E2F38;
}
.don-op {
	border-radius: 10% 10% 0% 0%;
}
.donate-info {
	background-color:#D6E5F0;
	margin-top:-22px;
	border-radius:  0% 0% 10% 10%;
}
.donate-square {
	height:600px;
	margin-top:-190px;
	background-image: url("images/fishes.png");
	
	background-position: center;
	background-size: cover;
}

.inside-donate {
	height:400px;
	width:450px;
	display: block;
	margin: auto;
	margin-top:350px;
	background-color: #FFFFFF;
	border-radius: 10%;
	border: 1px solid #E5EEF6;
	
	
}

.btns {
	display:flex;
	justify-content: center;
	
}
.fastbtn {
	margin: 10px;
	width:70px;
	padding:7px;
	background-color: #AFEBFF;
	border: none;
	border-radius: 5%;
}

.fastbtn:hover {
	background-color: #40BCFF;
	color: aliceblue;
}

.inside-donate h1 {
	font-family: 'Maven Pro', sans-serif;
	color:#0899D4;
	display: flex;
	justify-content: center;
}
.donationsform {
	border:none;
	margin: 0 auto;
	
	font-family: 'Lato', sans-serif;
	display:flex;
	text-align: center;
	
}

.fillin {
	display:block;
	margin: 0 auto;
	width:200px;
	padding: 10px;
	margin-bottom: 10px;

/*footer*/
footer {
	background-image: url("images/footer.jpg");
	height:500px;
}
.wavebot {
	margin-top:-11px;
	border: none;
}

@media (min-width: 550px) {
	
	header {height:720px;
	background-size: cover;}
	
	.logo {
		display:none;
		
	}
	
	.toggle-button {
		display:none;
	}
	
	ul.nav-links {
		display:block;
		margin-top:45px;
		width: 590px;
		margin: auto;
	}
	
	ul.nav-links li {
		display:inline-block;
		border-bottom:none;
		background-color: transparent;
	}
	
	ul.nav-links a {
		font-size: 65%;
	}
	
	ul.nav-links a:link {color:white;}
	ul.nav-links a:visited {color:white;}
	ul.nav-links a:hover {color:#0899D4;}
	ul.nav-links a:active {color:#0899D4;}
	
	
	.page-title {
		font-size: 200%;
	}
	
	
	
	/*blog*/
	.row {
	display:flex;
}

	.column {
	flex: 50%;
 	padding: 10px;
}

	
	@media (min-width:900px) {
		ul.nav-links {
			width:900px;
		}
		
		ul.nav-links li {
			padding:40px;
	}
		ul.nav-links a {
		font-size: 100%;
		
	} /*end of media 