@charset "UTF-8";
@import "colors.css";
/* CSS Document */

body {
	margin:0px;}

.logo {
	max-width: 90px;
	margin:15px;
	margin-left:205px;
}

#toggleassist,
ul.nav-links {display:none;}

#toggleassist:checked + ul.nav-links {
    display: block;
}

.toggle-button {
    width: 40px;
	float: right;
    margin: 15px;
}

ul.nav-links {
	list-style: none;
	padding-left:0px;
	
}

ul.nav-links li {
	padding:10px;
	border-bottom:2px solid #FAE3C6;
	
}

ul.nav-links a {
	text-decoration: none;
	text-transform: uppercase;
	color:#2D2E2A
}

/*homepage*/
.featured, .nowhiring {
	height:320px;
	width:100%;
	margin-bottom:50px;
	
}

.featured {background-image: url("images/coffeehands.jpg");background-size: cover;background-position: center;}

.bigcoffee {
	height:160px;
	width:35%;
	margin: auto;
	margin-bottom:25px;
	background-image: url("images/coffee.png"); background-size:cover;background-position: center;
}


.about {
	height:200px;
	width:70%;
	margin:auto;
	margin-bottom:50px;
}

.img1, .img2, .img3 {
	height:160px;
	width:30%;
	margin:auto;
	margin-bottom:25px;
}

.img1 {background-image;background-position: ;background-size:}
.img2 {background-image;background-position: ;background-size:}
.img3 {background-image;background-position: ;background-size:}

.nowhiring {
	margin-bottom:0px;
	background-image: url("images/nowhiring.png");background-size:cover;background-position:center;
}


/*products page*/
.beverages {
	width:35%;
	height:20px;
	margin:auto;
	text-align:center;
	margin-top:50px;
}


.drink1, .drink2, .drink3 {
	height:160px;
	width:30%;
	margin:auto;
	margin-bottom:25px;
	margin-top:25px;
}

.drink1 {background-image: url("images/hotdrinks.png");background-size:cover; background-position:center;}
.drink3 {background-image: url("images/noncaffinated.png");background-size:cover; background-position:center;}
.drink2 {background-image: url("images/cold drinks.png");background-size:cover; background-position:center;}

.bread {
	height:320px;
	width:100%;
	background-image: url("images/pandulce.jpg");background-size:cover;
}



/*locations page*/

.map {
	height:500px;
	width:100%;
	background-image: url("images/map.png"); background-size:cover;
}

.location1, .location2, .location3 {
	height:160px;
	width:30%;
	margin:auto;
	margin-bottom:25px;
	margin-top:25px;
}

.hours {
	height:160px;
	width:50%;
	margin:auto;
}



@media (min-width: 550px) {
	
	.logo {
		max-width: 75px;
		margin-left:15px}
	
	.toggle-button {
		display:none;
	}
	
	ul.nav-links {
		display:block;
		float: right;
		margin-top:35px;
	}
	
	ul.nav-links li {
		display:inline-block;
		border-bottom:none;
		
	}
	
	
	ul.nav-links li a {font-family:}
	ul.nav-links a:link {color:#3C1518;}
	ul.nav-links a:visited {color:#3C1518;}
	ul.nav-links a:hover {color:#D58936;}
	ul.nav-links a:active {color:#D58936;}
	
	
/*	homepage*/
	
	.coffeeabout {margin:auto}
	.bigcoffee {width:200px;float:left;margin-right:10px;height:200px;margin-left:20%;}
	.about {width:250px;float:left;margin-bottom:20px;height:200px;}
	
	.images {margin:auto;width:550px}
	.img1, .img2, .img3 {float:right;margin:auto;width:150px;margin-right:20px}
	
	.nowhiring {margin-top:500px}
	
/*	products*/
	
	.drink1, .drink2, .drink3 {float:left;margin-right:20px;width:200px;margin-top:50px}
	.drink1 {margin-left:10%}
	
	.bread {margin-top:300px}
	
/*locations*/
	
	.location1, .location2, .location3 {float:left;margin-right:20px;width:200px;margin-top:50px}
	.location1 {margin-left:10%}
	
	.hours {margin-top:300px}
	
} /*media bracket*/


@media (min-width:900px) {
	
	header {
		width:900px;
		margin: auto;
	
	}
	
/*	homepage*/
	
	.coffeeabout {margin:auto}
	.bigcoffee {width:250px;float:left;margin-right:50px;height:250px;margin-left:25%;}
	.about {width:400px;float:left;margin-bottom:20px;height:250px;}
	
		.images {margin:auto;width:900px;}
		.img1, .img2, .img3 {float:right;margin:auto;width:200px;margin-right:25px;margin-top:50px}
		.img1 {margin-right:10%}
	
	.nowhiring {margin-top:600px}
	
/*	products*/
	
	.drink1, .drink2, .drink3 {float:left;margin-right:25px;width:250px;}
	.drink1 {margin-left:20%}
	
/*locations*/
	
	.location1, .location2, .location3 {float:left;margin-right:25px;width:250px;}
	.location1 {margin-left:20%}
	
	
	
	
}/* end of large screen media */